body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre,
ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;font-style: normal;}
ul, ol, li, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clearfix{
	overflow: hidden;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.main_content{
	margin: 0 auto;
	padding: 35px;
	min-height: 1100px;
	background-color: #fff;
}
.left_side{
	float: left;
	width: 20%;
	background-color: #f7f7f7;
	height: 800px;
}
.user_info{
	background-color: #59b7cf;
	padding: 15px 0 15px 10px;
	height: 100px;
}

 .user_f{
	font-size: 14px;
	padding: 10px;
	text-align: center;
	line-height: 30px;
	color: #44B549;
	cursor: pointer;
}
.bg_on{
	 background-color: rgba(27, 18, 14, 0.04);
}
 .user_f:hover,.right_item span:hover{
    top:1px; 
    left:1px; 
    position:relative;
    font-size: 16px;
    background-color: rgba(27, 18, 14, 0.04);
}
.right_main{
	width: 80%;
	float: left;
}
.right_menu_title{
	height: 50px;
	background-color: rgba(27, 18, 14, 0.04);
    font-size: 16px;
}
.right_menu ul li{
	list-style: none;
	float: left;
	text-align: center;
	width: 20%;
	padding-top: 10px;
}
.right_item{
	padding:10px;
    border-bottom: 1px solid #efefef;
}
.item_detail:hover{
	cursor: pointer;
	 top:1px; 
    left:1px; 
    position:relative;
    font-size: 16px;
    background-color: rgba(27, 18, 14, 0.04);
}
.item_detail span{
	color: #44B549;
	padding: 0 20px;
	cursor: pointer;
}
.item_detail{
	padding: 10px 0;
}
.item_detail ul li{
     padding-left: 20px;
}
.money{
	color: red;
}
.pass input{
    margin-left: 20px;
    padding-left: 10px;
    width: 300px;
    background-color: #fefefe;
    padding-left: 12px;
    border: 1px solid #E5E5E5;
}
.btn{
	width: 125px;
	font-size: 18px;
    height: 36px;
    line-height: 34px;
    padding: 2px 10px 5px;
    background: linear-gradient(to bottom,#5DD55C,#00C83F);
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}
.pass tr{
	display: block;
    padding: 10px;
    line-height: 30px;
   margin-bottom: 20px;
}
.order_detail{
	border: 1px solid #efefef;
}
.title a{
	margin-left: 20px;
	color: #44B549;
	font-size: 14px;
}
.title a:hover{
	text-decoration: none;
	cursor: pointer;
    top:1px; 
    left:1px; 
    position:relative;
    font-size: 16px;
    background-color: rgba(27, 18, 14, 0.04);
}
.detail_inf{
	background-color: rgba(27, 18, 14, 0.04);
}
.detail_inf p{
	float: right;
}
.detail_main ul li{
	text-align: center;
	padding: 20px 10px;
	float: left;
	width: 40%;
}
.title{
	background-color: #fbfbfd;
	padding: 20px;
    border-bottom: 1px solid #efefef;
}
.col_recharge span{
	font-size: 18px;
	color: #ef961e; 
}
.recharge_btn{
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    border-color: #fe9700;
    background-color: #fea700;
}
.cash_btn{
	 display: inline-block;
    padding: 5px 25px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    border-color: #a3bb1e;
    background-color: #adc624;
}
.col_table{
	width: 100%;
}
.col_content th{
	padding-left: 50px;
	height: 38px;
    line-height: 34px;
    color: #666;
    background-color: #fafafa;
    border: 1px solid #E8E8E8;
    border-width: 1px 0 1px 0;
    font-weight: 400;
}
.user_info_img{
	 width: 76px;
    height: 76px;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
}
.user_info_img img{
    display: block;
    width: 100%;
    min-height: 100%;
    border-radius: 100px;
}
.user_info_name{
	color: #fff;
    line-height: 28px;
    padding-top: 8px;
}
.account{
	padding: 16px;
}
.account_list{
	width: 100%;
    height: 48px;
    padding-bottom: 6px;
    border-bottom: solid 1px #eee;
    color: #666;
    font-size: 16px;
}
.account_list .current {
    border-bottom: solid 2px #0090db;
    color: #0090db;
}
.account_list ul li{
    float: left;
    width: 130px;
    height: 48px;
    padding-bottom: 6px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}
.account_setting{
    margin-top: 30px;
}
.account_setting ul li{
	padding:10px;
	padding-left: 60px;
}
.password{
	padding: 50px;
}

.search_box{
	width: 960px;
	margin: 0 auto;
}
.search_title{
	padding-bottom: 20px;
}
.search_title h2{
	float: left;
	padding-top: 40px;
	font-size: 18px;
}
.search_title a{
	padding-top: 40px;
	float: right;
}
.search_main .d_item{
	position: relative;
	width: 221px;
	border: 1px solid #ebebeb;
    float: left;
    height: 240px;
    overflow: hidden;
    margin-right: 15px;
}
.i-pic{
    padding: 14px;
	height: 90px;
    overflow: hidden;
    padding-bottom: 5px;
}
.d_item .d_name{
	padding: 24px 20px 0 0;
}
.d_item .d_name h2{
	font-size: 18px;
    color: #0093d0;
}
.i-hpt{
	padding: 14px;
	padding-top:20px;
    display: block;
    line-height: 21px;
    color: #818181;
}
.i-hpt a{
	padding:5px;
	line-height: 21px;
}
.i-adep{
	font-size: 12px;
	line-height: 21px;
    color: #818181;
}
.d-icon{
	position: absolute;
	bottom: 0;
	height: 38px;
    width: 221px;
    border-top: 1px solid #ebebeb;
    overflow: hidden;
    background-color: #fbfdfc;
}
.d-icon li {

    float: left;
    width: 73px;
    border-right: 1px solid #ebebeb;
}
.d-icon .icon_gh{
    background-position: 0 -33px;
}
.d-icon a i{
    background: url(../images/global_icon.png) no-repeat;
    width: 17px;
    height: 17px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    display: inline-block;
}
.d-icon li a{
    display: block;
    text-align: center;
    line-height: 38px;
    color: #333;
}
.d-icon .icon_jh {
    background-position: 0 -100px;
}
.d-icon .icon_zx{
	background-position: 0 -67px;
}
.bor{
	padding: 20px;
	border: solid 1px #ddd;
}
.bor li{
	float: left;
    width: 100%;
    padding: 20px 0;
    border-bottom: dotted 1px #e4e4e4;
    font-size: 14px;
}
.searchpic {
    width: 145px;
    height: 97px;
}
.searchcon {
    margin-left: 20px;
    line-height: 24px;
    color: #666;
}
.searchcon h4{
	padding: 12px 0;
	font-size: 16px;
    color: #333;
}
.siconA1{
    background-position: 0 0;
}
.searchicon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/searchicon.png) no-repeat;
}
.siconA2{
    background-position: 0 -24px;
}
.yuyuenum {
    width: 180px;
    margin-top: 15px;
    padding: 10px 30px;
    border-left: solid 1px #dcdcdc;
    line-height: 24px;
    color: #666;
}
.yuyuenum em {
    padding: 0 8px;
    font-weight: 700;
    color: #069;
}
.recharge_dialog{
	display: block;
    position: absolute;
    width: 610px;
    left: 30%;
    top: 50%;
    z-index: 1000;
    background: #FFF;
    border: 1px solid #efefef;
}
.shadow{
    position:absolute;
    opacity:0.2;
    display:none;
    background:#000000;
    width:100%;
    height:100%;
    left:0;

    z-index:999;
    top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
}
.dialog_title{
	color: #00aec1;
    font: normal 18px/28px "Microsoft Yahei";
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    border-top: 1px solid #edf5f8;
}
.dialog_title span{
	padding-left: 50px;
	font-size: 20px;
}
.dialog_main{
	padding-left:20px;

}
.dialog_main input{
	border: 1px solid #ddd;
    box-shadow: inset 0 2px 2px #f5f5f5;
    padding: 5px;
    margin-left: 20px;
    width: 170px;
}
.dialog_main ul{
	padding-right: 20px;
}
.dialog_main ul li{
	margin: 0px 0 0 5px;
	float: left;
	display: inline-block;
    width: 60px;
    line-height: 34px;
    height: 34px;
    border: solid 1px #f1f1f1;
    text-align: center;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}
.dialog_btn{
	margin-top: 40px;
	padding-left: 70;
}